.project_stats_title .variants:before,
.address_link:before,
.icn2,
.acc_h .project_stats_title b:after,
.thead_section .exp:before,
.stages_table_stage_h > tr > th:after,
.pr_exp:before,
.child_row .sub_table_toggle:before,
.stages_photo .img a:hover:after,
.project_stats_title:before {
    position: relative;
    display: inline-block;
}
.project_stats_title .variants:before,
.address_link:before,
.acc_h .project_stats_title b:after,
.thead_section .exp:before,
.stages_table_stage_h > tr > th:after,
.pr_exp:before,
.child_row .sub_table_toggle:before,
.stages_photo .img a:hover:after,
.project_stats_title:before {
    content: '';
}
.icon-arr_left_blue {
    width: 12px;
    height: 21px;
    content: 'sprite.svg#arrow_left_navy'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/arrow_left_navy.svg);
    background-size: 12px 21px;
}
.project_stats_title:before {
    position: absolute;
}
.stages_photo .img a:hover:after {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 40px;
    height: 39px;
    margin: auto;
    background-image: url(../images/zoom_big_white.svg);
    background-size: 40px 39px;
}
.child_row .sub_table_toggle:before,
.pr_exp:before,
.stages_table_stage_h > tr > th:after {
    width: 12px;
    height: 21px;
    content: 'sprite.svg#arrow_right_navy'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/arrow_right_navy.svg);
    background-size: 12px 21px;
}
.child_row .sub_table_toggle:before,
.pr_exp:before,
.stages_table_stage_h > tr > th:after {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 16px;
    margin: auto;
}
.pr_exp:before {
    left: 5px;
}
.child_row .sub_table_toggle:before {
    left: 46px;
}
.child_row.opened .sub_table_toggle:before,
.pr_opened .pr_exp:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 19px;
    height: 11px;
    margin: auto;
    content: 'sprite.svg#arrow_down_small_blue'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/arrow_down_small_blue.svg);
    background-size: 19px 11px;
}
.child_row.opened .sub_table_toggle:before {
    left: 46px;
}
.thead_section .exp:before {
    position: absolute;
    top: 4px;
    left: -40px;
    width: 21px;
    height: 12px;
    content: 'sprite.svg#arrow_up_navy'; /* dirty hack for passing url to fixSVGStackBackground() */
    -webkit-transition: all .5s;
         -o-transition: all .5s;
            transition: all .5s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    background-image: url(../images/arrow_up_navy.svg);
    background-size: 21px 12px;
}
.thead_section.opened .exp:before {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.stages_table_stage_h.opened > tr > th::after,
.acc_h .project_stats_title b::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 21px;
    height: 12px;
    margin: auto;
    -webkit-transition: all .2s;
         -o-transition: all .2s;
            transition: all .2s;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
    background-image: url(../images/arrow_up_white.svg);
    background-size: 21px 12px;
}
.o .acc_h .project_stats_title b::after {
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
         -o-transform: rotate(0deg);
            transform: rotate(0deg);
}
.stages_table_stage_h.opened > tr > th::after {
    right: auto;
    left: 11px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
         -o-transform: rotate(180deg);
            transform: rotate(180deg);
}
.project_stats_title .variants::before {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 23px;
    height: 13px;
    margin: auto;
    background-image: url(../images/arrow_down_blue.svg);
    background-size: 23px 13px;
}
.address_link:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 12px;
    height: 18px;
    content: 'sprite.svg#map_marker_small_blue'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/map_marker_small_blue.svg);
    background-size: 12px 18px;
}
.address_link:hover:before {
    content: 'sprite.svg#map_marker_small_red'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/map_marker_small_red.svg);
}
.icn_videocall {
    width: 17px;
    height: 23px;
    content: 'sprite.svg#webcam_white'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/webcam_white.svg);
    background-size: 17px 23px;
}
a:hover .icn_videocall,
.project_stats_cell:hover .icn_videocall {
    content: 'sprite.svg#webcam_orange'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/webcam_orange.svg);
}

.icon-ipad_transition_arrow {
    width: 12px;
    height: 21px;
    content: 'sprite.svg#arrow_right_white'; /* dirty hack for passing url to fixSVGStackBackground() */
    background-image: url(../images/arrow_right_white.svg);
    background-size: 12px 21px;
}

@media only screen and (max-width: 950px) {
    html[data-detail-page] .project_stats_title:after {
        position: absolute;
        top: 0;
        right: 0;
        right: 20px;
        bottom: 0;
        display: inline-block;
        width: 21px;
        height: 12px;
        margin: auto;
        -webkit-transition: all .2s;
             -o-transition: all .2s;
                transition: all .2s;
        -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
             -o-transform: rotate(180deg);
                transform: rotate(180deg);
        content: 'sprite.svg#arrow_up_white'; /* dirty hack for passing url to fixSVGStackBackground() */
        background-image: url(../images/arrow_up_white.svg);
        background-size: 21px 12px;
    }
    html[data-detail-page='roadmap'] .project_section_3 .project_stats_title:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    html[data-detail-page='agents'] .project_section_2 .project_stats_title:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    html[data-detail-page='financies'] .project_section_1 .project_stats_title:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    html[data-detail-page='documents'] .project_section_5 .project_stats_title:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
    html[data-detail-page='stages'] .project_section_4 .project_stats_title:after {
        -webkit-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }
}
